<h1 class="text-center mt-5">New Documentary Film</h1>
<div class="d-flex justify-content-center">
  <div class="col-md-6">
    <%= form_with model: @documentary_film, url: '/documentary_films', local: true do |form| %>
      <div class="mb-3">
        <%= form.label :name, class: 'form-label' %>
        <%= form.text_field :name, class: 'form-control' %>
      </div>
      <div class="mb-3">
        <%= form.label :synopsis, class: 'form-label' %>
        <%= form.text_area :synopsis, class: 'form-control' %>
      </div>
      <div class="mb-3">
        <%= form.label :director, class: 'form-label' %>
        <%= form.text_field :director, class: 'form-control' %>
      </div>
      <div class="mb-3">
        <%= form.submit 'Submit', class: 'btn btn-custom' %>
      </div>
    <% end %>
  </div>
</div>
